body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://example.com/background.jpg'); /* Fundal personalizat */
    background-size: cover;
    color: #fff;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    text-align: center;
    padding: 10px 0;
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(51, 51, 51, 0.8);
    position: relative;
    width: 100%;
    bottom: 0;
}
