body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('https://example.com/background.jpg'); /* Fundal personalizat */
    background-size: cover;
    color: #fff;
}

header {
    background-color: rgba(51, 51, 51, 0.8);
    text-align: center;
    padding: 10px 0;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 20px;
}

.box {
    background-color: rgba(255, 255, 255, 0.9);
    border-radius: 5px;
    padding: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    margin: 10px;
    transition: 0.3s;
    color: #333;
}

.box img {
    width: 80px; /* Dimensiunea imaginilor */
    height: auto;
}

.box:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

footer {
    text-align: center;
    padding: 10px 0;
    background-color: rgba(51, 51, 51, 0.8);
    position: relative;
    width: 100%;
    bottom: 0;
}
